{% extends "shop/base.html" %}
{% block content %}
<main>
  <div class="login-card">
    <h2>Вход</h2>
    <form method="post">
      {% csrf_token %}
      <label for="username">Логин:</label>
      <input type="text" name="username" id="username" required>
      <label for="password">Пароль:</label>
      <input type="password" name="password" id="password" required>
      <button type="submit" class="btn">Войти</button>
    </form>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</main>
{% endblock %}