{% extends "shop/base.html" %}
{% block content %}
<main>
  <div class="card">
    <h2 class="card-title">{{ product.name }}</h2>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text"><strong>{{ product.price }} PLN</strong></p>
    <form method="post" action="{% url 'shop:cart_add' product.id %}">
      {% csrf_token %}
      <input type="number" name="quantity" value="1" min="1">
      <button type="submit" class="btn">Добавить в корзину</button>
    </form>
  </div>
</main>
{% endblock %}